html, body {
    color: aliceblue;
    height: 100%;
    margin: 0;
    background-color: #000000;
    font-family: Arial, sans-serif;
    overflow: auto;
  }

  /* Main animated grid layer */
  body::before {
    content: '';
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image:
      linear-gradient(rgba(44, 44, 44, 0.327) 2px, transparent 1px),
      linear-gradient(90deg, rgba(45, 45, 45, 0.327) 2px, transparent 1px);
    background-size: 40px 40px;
    z-index: 0;
    animation: flicker 5s ease-in-out infinite;
    pointer-events: none;
  }

  /* Optional noise overlay */
  body::after {
    content: '';
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url('../public/images/diagmonds.png');
    opacity: 50%;
    z-index: 0;
    pointer-events: none;
  }

  /* Grid flicker animation */
  @keyframes flicker {
    0%, 100% { opacity:80%; }
    50% { opacity: 30%; }
  }

  .conic-gradient-box {
    background: conic-gradient(
      from 0deg,
      red,
      yellow,
      green,
      cyan,
      blue,
      magenta,
      red
    );
    padding: 2px;
  }

  @keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent; }
}

.typewriter {
  display: inline-block;
  font-size: 1.5rem;
  white-space: nowrap;
  letter-spacing: 0.2cap;
  overflow: hidden;
  border-right: 0 solid;
  width: 0;
  animation: 
    typing 2.5s steps(16, end) infinite alternate,
    blink 0.7s step-end infinite;
}


.shadow-3dr{
  box-shadow: inset -1.5px -1.5px 4px rgba(255, 255, 255, 0.886),
  inset 3px 3px 15px 3px black;
}

.shadow-3d{
  box-shadow: -1px -1px 4px white,
  3px 3px 10px 3px black;
}

.text-shadow-3d{
  text-shadow: 1.5px 1.5px 1px rgb(0, 0, 0);
                /* 3px 3px 10px 3px black ; */
}

  