@import "tailwindcss";
@config "../tailwind.config.js";

/* Webkit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #000000; /* Dark gray background */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(0, 0, 0),rgb(0, 78, 0),rgb(3, 238, 255),rgb(34, 5, 183),rgb(120, 2, 2), black); /* Purple scrollbar */
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
  }
  
  